.footer {
    background-color: $secondary-color;
    color: #fff;
    padding: $spacing-unit;
    text-align: center;
  
    &__info, &__social {
      margin-bottom: $spacing-unit / 2;
    }
  
    &__link {
      color: #fff;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  