@media (max-width: 1024px) {
    .services__item,
    .testimonials__quote {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .services__item,
    .testimonials__quote {
      width: 100%;
      margin-bottom: 15px;
  
      img {
        max-width: 100%; /* Asegura que las imágenes no excedan su contenedor */
      }
    }
  }

  