.footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
  
    &__social-links {
      margin-top: 10px;
  
      a {
        margin-right: 10px;
        color: #fff;
      }
    }
  
    &__info {
      margin-top: 20px;
    }
  }
  